* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-primary {
    color: rgb(18, 66, 101) !important; 
}

.btn-primary {
    background: rgb(36, 135, 206) !important;
}

.grid-icon {
    margin: 20px 0 0 20px; 
    font-size: 50px;
    color: rgb(36, 135, 206);
}

#sub-hero-section {
    padding: 50px;
    background: url(../img/onepage.bg.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative
}

#sub-hero-section::before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    inset: 0px;
}

#sub-hero-section #header-section { 
    z-index: 1;
    position: relative;
}

.grid-hover:hover {
    transform: scale(1.1);
}

.card-h5:hover {
    color: rgb(36, 135, 206);
}

.check-icon{
    font-size: 20px;
    color: rgb(36, 135, 206);
    margin-right: 10px;
}

.list-style {
    list-style: none;
    padding-left: 0!important;
}

#counter-section {
    background: rgb(248, 251, 254);
}

.brand-img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.brand-img:hover {
    filter: grayscale(0);
    transform: scale(1.2);
}

#brands-section {
    background: #f8fbfe;
}

.leaders-img {
    border-radius: 50%;
    width: 30%;
    margin-top: 10px;
}

.swipe-bg {
    background: #f3f9fd;
    position: relative;
}

.swipe-bg::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #f3f9fd;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
} 

#service-section {
    background: #f8fbfe;
}

.service-card {
    transition: all ease-in-out 0.3s;
    padding: 70px 0px 80px 0px;
}

.service-card .service-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.service-card .service-icon i {
    position: relative;
    z-index: 2;
    font-size: 30px;
    transition: 0.5s;
}

.service-card .icon-blue i {
    color: rgb(36, 135, 206);;
}

.service-icon svg {
    position: absolute;
    top: 0;
    z-index: 1;
}

.service-card:hover {
    box-shadow: 0px 0 35px 0 rgb(0 0 0 / 8%);
}

.service-card:hover .icon-blue svg path {
    fill: #47aeff;
}

.service-card:hover .icon-blue i, .service-card:hover .icon-orange i, .service-card:hover .icon-pink i, .service-card:hover .icon-yellow i, .service-card:hover .icon-red i, .service-card:hover .icon-green i {
    color: #ffff;
}

.service-card .icon-orange i {
    color: #ffa76e;
}

.service-card:hover .icon-orange svg path {
    fill: #ffa76e;
}

.service-card .icon-pink i {
    color: #e80368;
}

.service-card:hover .icon-pink svg path {
    fill: #e80368;
}

.service-card .icon-yellow i {
    color: #ffbb2c;
}

.service-card:hover .icon-yellow svg path {
    fill: #ffbb2c;
}

.service-card .icon-red i {
    color: #ff5828;
}

.service-card:hover .icon-red svg path {
    fill: #ff5828;
}

.service-card .icon-green i {
    color: #11dbcf;
}

.service-card:hover .icon-green svg path {
    fill: #11dbcf;
}

.portfolio-wrap {
    position: relative;
}

.portfolio-wrap::before {
    content: "";
    background: rgba(36, 135, 206, 0.6);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0;
}

.portfolio-wrap .portfolio-info::before {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    display: block;
    z-index: 5;
    transition: all 0.5s ease 0s;
}

.portfolio-wrap .portfolio-info::after {
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 15px;
        right: 15px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
        z-index: 5;
        display: block;
        transition: all 0.5s ease 0s;
}

.portfolio-wrap .portfolio-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    color: #fff;
    opacity: 0;
}

.portfolio-wrap:hover::before {
    opacity: 1;
}

.portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.portfolio-links a {
    color: #fff;
    font-size: 45px;
}

.links {
    text-decoration: none!important;
    color: black!important;
}

.links:hover {
    color: blue!important;
}





